/* assets/css/hero1.css */

.landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 4rem);
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
}

.card {
    width: 30%;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
}

.card1 {
    background-color: #ffcccc;
    border-radius: 8px;
}

.card2 {
    background-color: #ccffcc;
    border-radius: 8px;
}
