/* assets/css/style.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
}

main {
    height: calc(100% - 8rem);
    background-color: #000;
}

.landing-page {
    .demi {
        width: 250px;
        height: auto;
        display: flex;
        align-items: center;
    }
}
